<html>
<body>
    <title>
          _       
 ___ __ _| |_ ___ 
/ __/ _` | __/ __|
| (_| (_| | |_\__ \
\___\__,_|\__|___/
    </title>
      

            <div>
                <p>
                    |\      _,,,---,,_
             ZZZzz /,`.-'`'    -.  ;-;;,_
                  |,4-  ) )-,_. ,\ (  `'-'
                  '---''(_/--'  `-'\_)  

                  _ |\_
                  \` ..\
             __,.-" =__Y=
           ."        )
     _    /   ,    \/\_
    ((____|    )_-\ \_-`
     `-----'`-----` `--`

                <strong>Love cats!</strong>
                </p>
            </div>
            
</body>  
</html>