<html>
<body>
    <h1>Hi, there!</h1>
    {% for post in posts %}
    <div>
        <h2><a href="">{{ post.title }}</a></h2>
        <p> publicado: {{ post.published_date }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
        <br> <img src="https://i.pinimg.com/originals/d4/f1/67/d4f1672cf6495c4f1bb5cceaf67d2203.gif" alt="Funny image">
    </div>
    {% endfor %}
    <div>
    <br> <img src="https://cdn102.picsart.com/205175319005202.gif" alt="Funny image">
    </div>
            
</body>  
</html>